/* **************
Imports------------
************** */

@import 'bootstrap/dist/css/bootstrap.min.css';

/* **************
General------------
************** */
* {
  margin: 0;
  padding: 0;
}
.customLinksUnderlined {
  text-decoration: underline;
}
.customLinks {
  text-decoration: none;
}

/* **************
PriceChart.js------------
************** */

.priceChartWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 3rem 0 0 0;
  width: 100%;
}
.coinTitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.coinTitle a{
  font-weight: 500;
  font-size: 40px;
  text-decoration: none;
}
.coinTitle img{
  width: 60px;
  height: 60px;
  margin-right: 1rem;
}


/* **************
LineChart.js------------
************** */

.priceChart {
  cursor: crosshair;
}
.chartStyle{
  width: 100%;
  min-width: 700px;
  height: 60vh;
}

/* **************
TopCoin.js------------
************** */

.topCoinTitle{
  padding: 4rem 0;
}

/* **************
LoadingScreen.js------------
************** */

.loadingScreen{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.spinners{
  width: 80px;
  height: 80px;
  position: relative;
}
.spinner{
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-top-color: rgba(0,104,249, 0.6);
  border-radius: 50%;
  animation: firstSpinner 1.6s linear infinite;
}
.spinners div:nth-child(2){
  border: 8px solid transparent;
  border-bottom-color: rgba(0,104,249, 0.6);
  animation: secondSpinner .6s linear infinite;
}

@keyframes firstSpinner{
  0% { transform: rotate(0deg); border-width: 8px;}
  50% { transform: rotate(180deg); border-width: 2px;}
  100% { transform: rotate(360deg); border-width: 8px;}
}

@keyframes secondSpinner{
  0% { transform: rotate(0deg); border-width: 2px;}
  50% { transform: rotate(180deg); border-width: 8px;}
  100% { transform: rotate(360deg); border-width: 2px;}
}

/* **************
Light/Dark Mode------------
************** */
#light{
  color: black;
  margin: 0;
  padding: 0;
  height: fit-content;
  background-color: sandybrown;
}
#dark{
  background-color: black;
  color: white;
}