/* **************
Imports------------
************** */

@import 'bootstrap/dist/css/bootstrap.min.css';

/* **************
General------------
************** */
:root{
  --black-color: rgba(29,29,29,1);
  --thin-black-color: rgba(29,29,29,.25);
  --white-color: rgba(240,240,240,1);
  --thin-white-color: rgba(240,240,240,.15);
  --green-color: rgb(134, 190, 69);
  --blue-color: rgba(0,104,249);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.customLinksUnderlined {
  text-decoration: underline;
}
.customLinks {
  text-decoration: none;
}
.successGreen{
  color: var(--green-color);
}
.primaryBlue{
  color: var(--blue-color);
}
/* **************
PriceChart.js------------
************** */

.priceChartWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0.5em 0 0 0;
  width: 100%;
  height: 100vh;
}
.coinTitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.coinTitle a{
  font-weight: 500;
  font-size: 40px;
  text-decoration: none;
}
.coinTitle img{
  width: 60px;
  height: 60px;
  margin-right: 1rem;
}


/* **************
LineChart.js------------
************** */

.priceChart {
  cursor: crosshair;
}
.chartStyle{
  width: 100%;
  min-width: 700px;
  height: 60%;
  min-height: 450px;
}

/* **************
TopCoin.js------------
************** */

.topCoinTitle{
  padding: 1rem 0 3rem 0;
}
#topCoinTitle{
}

/* **************
LoadingScreen.js------------
************** */

.loadingScreen{
  background-color: var(--white-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.spinners{
  width: 80px;
  height: 80px;
  position: relative;
}
.spinner{
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 8px solid transparent;
  border-top-color: rgba(0,104,249, 0.6);
  border-radius: 50%;
  animation: firstSpinner 1.6s linear infinite;
}
.spinners div:nth-child(2){
  border: 8px solid transparent;
  border-bottom-color: rgba(0,104,249, 0.6);
  animation: secondSpinner .6s linear infinite;
}

@keyframes firstSpinner{
  0% { transform: rotate(0deg); border-width: 8px;}
  50% { transform: rotate(180deg); border-width: 2px;}
  100% { transform: rotate(360deg); border-width: 8px;}
}

@keyframes secondSpinner{
  0% { transform: rotate(0deg); border-width: 2px;}
  50% { transform: rotate(180deg); border-width: 8px;}
  100% { transform: rotate(360deg); border-width: 2px;}
}

/* **************
Header.js------------
************** */
#header * {
}
#header{
  height: 90px;
  border-bottom: 1px solid var(--thin-black-color);
  padding: 1em 5em;
  width: 100vw;
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#header h3{
  padding: 0;
  margin: 0;
}
#headerToggle{
  min-width: 450px;
}

/* **************
ModeToggle.js------------
************** */
.toggleContainer{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
.toggleStyle{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}
.modeText{
  width: fit-content;
  padding: 0 1em 0 0;
  align-self: center;
}
.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.space {
  position: relative;
  height: 2em;
  width: 4em;
  border: 2px solid #e4e7ec;
  border-radius: 5em;
  background-color: white;
  transition: background-color 250ms;
}

.checkbox:checked ~ .space {
  background-color: #374151;
}

.button {
  transform: translate(.25em, .18em);
  position: absolute;
  height: 1.35em;
  width: 1.35em;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.checkbox:checked ~ .space .button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(2.1em, .185em);
}

.lightbulb {
  position: absolute;
  height: 1rem;
  width: 1rem;
  color: #ffbb52;
}

.lightbulbWrapper {
  position: absolute;
  height: 1rem;
  width: 1rem;
  opacity: 1;
  transform: translate(2.35em, .35em);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.checkbox:checked ~ .space .lightbulbWrapper {
  opacity: 0;
  transform: translate(1rem, 0) rotate(45deg);
}

.moon {
  position: absolute;
  height: 1rem;
  width: 1rem;
  color: white;
}

.moonWrapper {
  position: absolute;
  height: 1rem;
  width: 1rem;
  opacity: 0;
  transform: translate(1rem, 0) rotate(45deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}

.checkbox:checked ~ .space .moonWrapper {
  opacity: 1;
  transform: translate(.35em, .35em) rotate(-15deg);
}
.modeText{
  visibility: hidden;
}
.toggleStyle:hover .modeText{
  visibility: visible;
}
/* **************
CoinCard.js------------
************** */

#coinCard{
  min-width: 850px;
}

#iconStyle{
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

#coinCardStack{
  display: grid;
  grid-template-columns: 50px 1.75fr 1fr .9fr .9fr 1.1fr;
  gap: 1rem;
}
.coinInfoHeading{
  margin: 0;
  padding: 0;
}
#nameStyle{
  color: var(--black-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/* **************
CoinLabels.js------------
************** */


/* **************
Light Mode------------
************** */
#light{
  background-color: white;
}

/* **************
Dark Mode------------
************** */
#dark{
  background-color: var(--black-color);
  color: var(--white-color);
}
#dark #coinCard{
  border: 1px solid var(--thin-white-color);
  background-color: var(--black-color);
}

#dark #nameStyle{
  color: var(--white-color);
}
#dark #coinLabelStyle{
  min-width: 850px;
  background-color: var(--black-color);
  border: 1px solid var(--thin-white-color);
}
#dark #header{
  color: var(--white-color);
  background-color: var(--black-color);
  border-bottom: 1px solid var(--thin-white-color);
}


/* **************
PriceChart.js------------
************** */
.notFound{
  padding-top: 4em;
  height: 100vh;
  width: 100%;
}